.mainhead {
    width: 100%;
    background: #fff;
    height: 52px;
    line-height: 52px;
    border-bottom: 1px solid rgba(0,0,0,.2);
    position: relative;
}
.mainheadrow{
    max-width: 1170px;
    margin: 0 auto;
    /* border: 1px solid red; */
    display: flex;
}
.mainheadrow>div:nth-child(1){
/* border: 1px solid red; */
width: 16%;

}
.mainheadrow>div:nth-child(1)>img{
       height: 20px;
    vertical-align: middle;
    margin-bottom: 5px;


}


.mainheadrow>div:nth-child(2){
/* border: 1px solid red; */
width: 30%;
margin-left: 100px;

}
.mainheadrow>div:nth-child(3){
/* border: 1px solid red; */
width: 25%;
display: flex;


}
.mainheadrow>div:nth-child(4){
/* border: 1px solid red; */
width: 20%;
display: flex;


}
.mainheadrow>div:nth-child(3)>form{
    width: 100%;
    height: 50px;
    text-align: left;
    display: flex;
    
}
.mainheadrow>div:nth-child(3) input{
   height: 80%;
   width: 100%;
   background: #eaeaea;
   border: none;
   border-radius: 7px;
   margin-top: 2px;
}
.icon{
    content: "\E90E"
}
a>i{
    font-size: 22px;
    margin-left: 20px;
    color: rgb(43, 42, 42);
}
a{
    font-size: 15px;
    margin-left: 5px;
    color: rgb(58, 55, 55);
    text-decoration: none;
}
.fa, .fas {
    margin-top: 15px;
    margin-right: 10px;

}
span{
    font-size: 15px;
    margin-right: 20px;
    margin-top: 3px;
    font-family: montserrat,sans-serif;
    color: black;
    
}

.fas, .fa-grip-lines-vertical{
    margin-top: 10px;
}
 .fa-search{
    margin-top: 15px;
}


#container {
    
    display: grid;
    grid-template-rows: 10% 60%;
    grid-template-columns: 40%;
    margin: auto;
    margin-top: 79px;
    height: calc(100vh - 79px);
    background-image: linear-gradient(
    0deg,#dac878,#fff);
    
    
}
#container>div:nth-child(1)>h2{
    text-align: center;
}
#email , #pass ,#nm{
    width: 500px;
    height: 29px;
    padding: 5px 0;
    font-size: 20px;
    outline: none;
    border: none;
    border-bottom: 1px solid #bcbcbc;
    border-radius: 0;
    background: none;
    box-shadow: none;
    display: block;
    margin-bottom: 60px;
    
    line-height: normal;
    
}
#myForm> div{
    margin-top: 10px;
}
.show-pass{
    margin-top: 2.5%;
    width: 14px;
    height: 10px;
}
.forgotPassword button {
    padding: 18px 0;
    font-family: montserrat,sans-serif;
    font-size: 15px;
    color: #42a2a2;
    background: none;
    border: none;
    margin-left: 190px;
    
}
.box >div>h2{
    text-align: center;
    font-size: 25px;
    font-family: montserrat-bold,sans-serif;
    letter-spacing: 2px;
}
h2{
    font-size: 20px;
    font-family: montserrat-bold,sans-serif;
    margin: 16px 0 35px;
    text-align: center;
}
#login_password_submit{
    width: 450px;
    height: 50px;
    border: none;
    border-radius: 5px;
    outline: none;
    letter-spacing: .5px;
    background-color: gray;
    font-size: 16px;
    font-family: montserrat,sans-serif;
    color: #fff;
    text-transform: uppercase;
    margin-left: 5%;
}
.box{
    display: grid;
    width: 1100px;
    height: 680px;
    /* border: 2px solid red; */
    grid-template-rows: 20% 70%;
    
    margin-left: 66px;
    justify-content: center;
    background-color: white;

}
.d1{
    margin-top: 10px;
}
.box>div:nth-child(1){
    height: 50px;
    /* border: 1px solid red; */
}
  img {
            width: 65%
        }