* {
    color: black;
    font-family: montserrat, sans-serif;
}

#mainheadrow {
    height: 35px;
    margin-top: 1%;
    margin-left: 12%;
    /* border: 1px solid red; */
    display: flex;
}

#mainheadrow img {
    width: 50%
}

#mainheadrow> :nth-child(2) {
    margin-left: 60%;
   
    font-weight: 100px;
}

h5 {
    margin-top: -13%;
    color: rgb(29, 28, 28);
    letter-spacing: 0.5px;
    font-weight: 400;

}

h6 {
    opacity: 0.5;
    font-size: 10px;
    letter-spacing: 0.6px;
}

#middle_box {
    margin-top: 2.5%;
    margin-left: 12%;
}


#pay {
    margin-left: 40%;
}

#lower_box {
    margin-top: 2%;
    margin-left: 12%;
    display: flex;
    border: 1px solid rgb(161, 157, 157);
    width: 47%;
    min-height: 550px;
}

#lower_box>div:nth-child(1) {
    width: 50%;
    background-color: rgb(240, 239, 239);
    color: #000;
    line-height: normal;
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;

}

.inactive {
    padding-top: 12px;
    padding-bottom: 13px;
    margin-left: 13px;
}

#lower_box>div:nth-child(1)>hr {
    border: 0.1px solid #e0e0e0;
}

#active {
    background-color: white;
    padding-top: 15px;
    padding-bottom: 13px;
    border-left: 6px solid #42a2a2;
}

p {
    margin-top: -9px;
    font-weight: 100;
    font-size: 10px;
    margin-left: 13px;
    color: rgb(112, 112, 112);
    letter-spacing: .2px;
    padding-top: 2px;
}

#lower_right_box {
    width: 78%;
    margin-left: 30px;
    border: 1px solid rgb(161, 157, 157);
    padding: 20px;
    margin-top: 12%;
    border-radius: 5px;

}

#lower_right_box>div:nth-child(1) {
    margin-left: 10px;
}

#card_num {
    display: inline-block;
    position: relative;
    margin-top: 20px;
}

#card_num>input {
    width: 335px;
    height: 35px;
    border-radius: 5px;
    letter-spacing: 0.8px;
    border: 0.1px solid rgb(161, 157, 157);
}

#card_name>input {
    width: 335px;
    height: 35px;
    border-radius: 5px;
    letter-spacing: 0.8px;
    margin-top: 20px;
    border: 0.1px solid rgb(161, 157, 157);
}

#card_expiry_cvv {
    display: inline-block;
}

#card_expiry_cvv>input {
    width: 158px;
    height: 35px;
    border-radius: 5px;
    letter-spacing: 0.5px;
    margin-top: 20px;
    border: 0.1px solid rgb(161, 157, 157);
}

#card_check_box {
    margin-top: 20px;
    display: inline-block;
}

#card_check_box>label {
    font-size: 10px;
    text-align: top;

}

#payment {
    margin-left: 10px;
    width: 330px;
    height: 50px;
    color: white;
    background-color: rgb(212, 203, 203);
    font-size: 20px;
    border: 0.1px solid rgb(212, 203, 203);
    border-radius: 5px;

}

#new_card {
    margin-left: 13px;
    font-size: 12px;
    text-align: center;
    position: relative;
}